<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Customers Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/customers.css}">
</head>
<body>

    <header class="fixed-top" th:insert="~{fragments/navbar}"></header>

    <main>
        <div class="container" style="margin-top: 10%">
            <div th:if="${successMessage != null}"
                 class="alert alert-success alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <span th:text="${successMessage}"></span>
            </div>
            <h2 th:text="${heading}"></h2>

            <div class="row">
                <div id="customers" class="table-responsive col-12" style="height:400px; overflow-y: auto">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>N:</th>
                                <th>Name</th>
                                <th>Birth Date</th>
                                <th>Is Young Driver?</th>
                                <th>Admin Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:each="customer, iterator : ${customers}" th:object="${customer}" th:data-id="*{id}">
                                <td th:text="${iterator.index + 1}"></td>
                                <td th:text="*{name}"></td>
                                <td th:text="*{birthDate}"></td>
                                <td th:text="*{youngDriver} ? 'Yes' : 'No'"></td>
                                <td>
                                    <a class="btn btn-info btn-sm view-sales-btn mb-1 mx-1" href="#">View Sales</a>
                                    <a th:if="${isLoggedIn}" class="btn btn-primary btn-sm mb-1 mx-1" th:href="@{/customers/{id}/edit (id=*{id})}">Edit</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div id="sales" class="col-5 col-sm-4 col-md-3" style="display: none">
                    <div style="border: 3px solid #8597a5; border-radius: 25px">
                        <div>
                            <p class="mt-3 h5 title m-2 px-4 py-1">
                                Sales Details
                            </p>
                            <hr />
                        </div>

                        <div class="title">
                            <p>Customer Name</p>
                        </div>
                        <div>
                            <p id="customer-name"></p>
                        </div>

                        <div class="title">
                            <p>Bought Cars</p>
                        </div>
                        <div>
                            <p id="cars-count"></p>
                        </div>

                        <div class="title">
                            <p>Total Spent Money</p>
                        </div>
                        <div>
                            <p id="total-spent-money"></p>
                        </div>

                        <div class="text-center">
                            <hr />
                            <button class="btn btn-outline-info mb-3" id="close-btn" type="button">
                                Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </main>

    <footer th:insert="~{fragments/footer}">

    </footer>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/customers.js"></script>
    <script src="/js/navigation-controller.js"></script>
    <script src="/js/footer-adjust.js"></script>
</body>
</html>